*{
    box-sizing:border-box;
}

body{

    margin:0;
    font-family:Arial,sans-serif;
    background:#f5f5f5;

}

#content{

    padding:15px;
    padding-bottom:90px;

}

h2{

    margin-top:0;

}

input{

    width:100%;
    padding:12px;
    border-radius:8px;
    border:1px solid #ddd;
    margin-bottom:15px;

}

.customer-card{

    background:white;
    padding:15px;
    margin-bottom:15px;

    border-radius:12px;

    box-shadow:0 0 10px rgba(0,0,0,.1);

}

.customer-card h3{

    margin-top:0;

}

.customer-card button{

    width:48%;
    padding:10px;

    border:none;
    border-radius:8px;

    cursor:pointer;

}

.customer-card button:first-child{

    background:#2196F3;
    color:white;

}

.customer-card button:last-child{

    background:#4CAF50;
    color:white;

}

#load-more{

    width:100%;
    padding:15px;

    border:none;
    border-radius:8px;

    background:#2196F3;
    color:white;

}

.bottom-nav{

    position:fixed;

    bottom:0;
    left:0;

    width:100%;
    height:65px;

    display:flex;

    background:white;

    box-shadow:0 -2px 10px rgba(0,0,0,.1);

}

.bottom-nav button{

    flex:1;

    border:none;
    background:white;

    font-size:14px;

}

.bottom-sheet{

    position:fixed;

    bottom:-100%;

    left:0;

    width:100%;
    height:80%;

    background:white;

    transition:0.3s;

    border-radius:20px 20px 0 0;

    box-shadow:0 -5px 20px rgba(0,0,0,.2);

}


.bottom-sheet.active{

    bottom:0;

}


.sheet-content{

    padding:20px;

}


.sheet-content input{

    margin-bottom:10px;

}
